@import 'fonts'

// colores
b_silver = #ddd

body
  font-family 'Raleway-Light'
  font-size 16px

.blog-post-list
  list-style-type none

  .blog-post-link
    font-family 'Raleway'
    margin .5em 0 1em 0
    padding 0 0 .25em 0
    border-bottom 1px solid b_silver


.blog-post

  .blog-post-header
    h1
      font-family 'Raleway'

.comments

  .comments-list
    list-style-type none

    .comment-item
      border 1px solid b_silver
      border-radius 5px
      padding .5em
      margin .5em

      .comment-author
        font-family 'Raleway'
        font-weight bold

      .comment-body
        font-style italic
